.btn{
    background-color: #CDD9ED; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.btn:hover{
    background-color: #9299a5; /* Green */
}