.btn{
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.btn:hover{
    background-color: #9299a5; /* Green */
}